/* ---------- Fonts ---------- */

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Oblique.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* ---------- Reset ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", Arial, sans-serif;
    background: #ffffff;
    color: #003f63;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

/* ---------- Layout ---------- */

.page {
    min-height: 100vh;
}

/* ---------- Header ---------- */

.header {
    height: 90px;
    border-bottom: 1px solid #e6e6e6;

    display: grid;
    grid-template-columns: 240px 1fr 240px;
    align-items: center;

    padding: 0 60px;
}

.header-logo {
    width: 260px;
}

/* ---------- Navigation ---------- */

.header-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-link {
    color: #013F5C;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    position: relative;
}

.nav-link::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -10px;

    width: 100%;
    height: 1px;

    background: #F37425;

    display: none;
}

.nav-link.active {
    color: #1D4F9F;
}

.nav-overview.active {
    color: #013F5C;
}

.nav-link:hover::after {
    display: block;
}

.nav-link.active::after {
    display: block;
}

/* Overview should not show active underline */

.nav-overview.active::after {
    display: none;
}

.nav-overview.active:hover::after {
    display: block;
}

/* ---------- Header Controls ---------- */

.header-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.page-counter {
    color: #013F5C;
    font-size: 18px;
    font-weight: 400;
}

.navigation-buttons {
    display: flex;
    gap: 10px;
}

/* ---------- Arrow Buttons ---------- */

.arrow-button {
    width: 48px;
    height: 48px;


    display: flex;
    align-items: center;
    justify-content: center;


    color: #013F5C;
    background: #ffffff;
    font-size: 20px;

    transition: all 0.2s ease;
}

.arrow-button:hover:not(:disabled) {
    cursor: pointer;
}

.arrow-button:disabled {
    cursor: default;
}

.arrow-button:disabled svg path {
    stroke: #D7E3F3;
}


.arrow-button svg path {
    stroke: #013F5C;
}

.arrow-button:hover svg path {
    stroke: #013F5C; /* your hover color */
}
/* ---------- Content ---------- */

.content {
    width: 100%;
}

.page-section {
    display: none;
}

.page-section.active-section {
    display: block;
}

.section-container {
    max-width: 2000px;
    margin: 0 auto;
    /*padding: 80px 60px;*/
}

.section-container h1 {
    font-size: 48px;
    font-weight: 700;

}

.overview-box {
    display: flex;
    gap: 140px;
    padding: 0 40px;
    width: 100%;

}

.overview-box > .left-box {
    flex: 1;

    margin-top: clamp(80px, 12vh, 220px);
    margin-bottom: clamp(85px, 6vh, 120px);
}

.overview-box > .right-box {
    margin-top: 50px;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 50px;
}

/* ---------- Shared Card Styles ---------- */

.overview-box > .right-box > .inappropriate-referrals,
.overview-box > .right-box > .waiting-time,
.overview-box > .right-box > .savings {
    flex: 1;

    display: flex;
    align-items: center;

    border-radius: 15px;

    padding:
        clamp(28px, 2.5vh, 70px)
        36px;
}

.overview-box > .right-box > .inappropriate-referrals,
.overview-box > .right-box > .waiting-time {
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
}

.overview-box > .right-box > .savings {
    background: #FFF7ED;
    border: 1px solid #FCD2B3;
}

/* ---------- Icon Column ---------- */

.icon-column {
    width: 140px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid #D7E3F3;

    padding-right: 28px;
    margin-right: 28px;

    flex-shrink: 0;
}

.savings .icon-column {
    border-right-color: #FCD2B3;
}

/* ---------- Icon Box ---------- */

.image {
    width: 90px;
    height: 90px;

    background: #FFFFFF;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D7E3F3;
}

.image svg {
    width: 48px;
    height: 48px;
}

/* ---------- Content ---------- */

.content-column {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #F37425;
}

.title {

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    color: #013F5C;
}

.card-divider {
    width:41px;
    height: 1px;

    border: none;

    background: #D7E3F3;

    margin: 4px 0;
}

.savings .card-divider {
    background: #FCD2B3;
}

.savings .image {
    border-color: #FCD2B3;
}

.description {
    font-size: 12px;
    line-height: 18px;

    color: #013F5C;
}

.heading-box .blue-heading {
    font-size: 68px;
    font-weight: 700;
    line-height: 76px;
    color: #1D4F9F;
}

.heading-box .orange-heading {
    font-size: 68px;
    font-weight: 700;
    line-height: 76px;
    color: #F37425;
}

.overview-box > .left-box > .heading-box {

    width: calc(100% - 100px);
}

.overview-hr {
    margin: 30px 0;
    width: 60px;

    border: none;
    height: 1px;

    background-color: #D7E3F3;
}

.overview-box > .left-box > .overview-p-box {
    font-size: 22px;
    width: calc(100% - 70px);
}

.quote-box {
    position: relative;
    overflow: hidden;

    margin: 0 40px 40px;

    background-color: #013F5C;
    border-radius: 15px;

    display: flex;
    align-items: center;

    padding:
        clamp(40px, 6vh, 100px)
        50px;
}

.quote-box::after {
    content: "";

    position: absolute;
    inset: 0;

    background-image: url("../images/dots.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 45%;

    opacity: 0.15;

    pointer-events: none;
}

.quote-mark,
.quote-text {
    position: relative;
    z-index: 1;
}

.quote-mark {
    font-size: 200px;
    line-height: 0.1;

    color: #006C93;
    font-weight: 700;

    margin-right: 60px;
    margin-left: 60px;

    transform: translateY(50px);
}

.quote-text {
    color: #FFFFFF;

    font-size: 24px;
    line-height: 1.5;

    max-width: 1100px;
}

.highlight {
    color: #F37425;
    font-weight: 700;
}


/*Case Study*/
.case-main-body {
    display: flex;
    gap: 24px;
    margin: 40px;
}

.case-left {
    flex: 5;
    padding: 10px;

    .case-problem-title {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 24px;
        color: #F37425;
        margin-bottom: 13px;

    }

    .case-blue-heading {
        font-size: 44px;
        line-height: 52px;
        color: #1D4F9F;
        font-weight: 700;
    }

    .case-orange-heading {
        font-size: 44px;
        line-height: 52px;
        color: #F37425;
        font-weight: 700;
    }

    .case-main-copy {
        color: #013F5C;
        font-size: 16px;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .case-main-copy > strong {
        font-weight: 700;
    }

    .problems-tiles {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .problem-tile {
        display: flex;
        align-items: center; /* vertically centers image and text */
    }

    .problem-tile-image-box {
        width: 60px;
        height: 60px;

        flex-shrink: 0;

        background: #F3F7FB;
        border: 1px solid #D7E3F3;
        border-radius: 15px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 15px;
    }

    .problem-tile-description {
        display: flex;
        align-items: center; /* vertically centers text block */
        min-height: 60px;    /* same height as icon box */
    }

    .problem-tile-description p {
        margin: 0;

        color: #013F5C;
        font-size: 12px;
        line-height: 18px;
    }

    .problem-tile-description strong {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }


}

.case-middle {
    flex: 4;
    border: 1px solid #D7E3F3;
    border-radius: 15px;

}

.case-study-tile {
    background: #013F5C;
    border-radius: 14px 0 14px 0;
    height: 45px;
    color: #fff;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.case-study-body {
    margin: 24px 30px;
    padding-right: 30px;
}

.case-study-body > p {
    font-size: 18px;
    line-height: 24px;
}

.case-stat-cards {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 30px;

}

.case-stat-card {
    display: flex;
    align-items: center;

    min-height: 64px;

    border-radius: 15px;

    padding: 12px 30px; /* 30px left/right */
}

.case-stat-card.blue {
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
}

.case-stat-card.orange {
    background: #FFF7ED;
    border: 1px solid #FCD2B3;
}

.case-stat-icon-column {
    width: 78px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 18px;
    margin-right: 18px;

    border-right: 1px solid #D7E3F3;

    flex-shrink: 0;
}

.case-stat-icon {
    width: 56px;
    height: 56px;

    padding: 13px; /* 13px white space around icon */

    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #D7E3F3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.case-stat-card.orange .case-stat-icon {
    border-color: #FCD2B3;
}
.case-stat-icon svg {
    width: 30px;
    height: 30px;
}

.case-stat-card.orange .case-stat-icon-column {
    border-right-color: #FCD2B3;
}
.case-stat-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.case-stat-value {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.case-stat-card.blue .case-stat-value {
    color: #1D4F9F;
}

.case-stat-card.orange .case-stat-value {
    color: #F37425;
}

.case-stat-description {
    font-size: 13px;
    line-height: 18px;
    margin-top: 2px;

    color: #013F5C;
}


.case-right {
    flex: 3;
    border: 1px solid #D7E3F3;
    background-color: #F3F7FB;
    border-radius: 15px;

}

.right-content {
    margin: 30px;
}

.right-heading {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
}

.right-underline {
    margin-top: 15px;
    margin-bottom: 60px;
    border: 1px solid #F37425;
    text-decoration: none;
    width: 60px;
}

.right-tiles {
    display: flex;
    flex-direction: column;
}

.right-tile {
    display: flex;
    align-items: center; /* centers whole tile between separators */
    min-height: 90px;
}

.right-tile-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-tile-image-box {
    width: 60px;
    height: 60px;

    flex-shrink: 0;

    background: #fff;
    border: 1px solid #D7E3F3;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 15px;
}

.right-tile-separator {
    margin: 30px 0;
    border: 0.5px solid #D7E3F3;
    text-decoration: none;
}


.right-tile-text > p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;

}

.right-tile-text > p > strong {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.case-study-footer {
    margin: 40px;

    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;

    display: flex;
    align-items: center;

    padding: 30px;
}
.case-study-footer-left {
    flex: 3;

    display: flex;
    align-items: center;

    padding-right: 30px;
    margin-right: 30px;

}
.case-study-footer-left {
    flex: 3;

    display: flex;
    align-items: center;
}

.footer-divider {
    width: 1px;
    height: 90px; /* adjust to match design */

    background: #D7E3F3;

    margin-left: 30px;
    margin-right: 30px;

    flex-shrink: 0;
}

.case-study-footer-right {
    flex: 2;

    display: flex;
    align-items: center;
    margin-right: 50px;
}

.case-study-footer-left-image {
    margin: 30px 50px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.case-study-footer-left-image > svg {
    width: 70px;
    height: 70px;
    margin: 15px;
}

.case-study-footer-left-body {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.case-study-footer-left-body > h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: #013F5C;
    margin-bottom: 15px;
}

.case-study-footer-left-body > p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.case-study-footer-left-body > p > strong {
    font-weight: 700;
}

.h1-span {
    color: #F37425;
}


.case-study-footer-right {
    flex: 2;

    display: flex;
    align-items: flex-start;

    gap: 25px;
}

.quote-icon {
    flex-shrink: 0;

    display: flex;
    align-items: flex-start;
}

.quote-icon svg {
    width: 50px;
    height: auto;
}

.quote-content {
    display: flex;
    flex-direction: column;
}

.quote-copy {
    font-size: 15px;
    line-height: 24px;

    font-weight: 300;

    color: #013F5C;

    margin-bottom: 18px;
}

.quote-author {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;

    color: #013F5C;
}

.main-features-container {
    padding: 40px;
    display: flex;
    gap: 140px;
    padding-bottom: 0;
}

.features-left {
    flex: 3;
}

.features-left-title {
    color: #F37425;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700 !important;
    line-height: 24px;
    margin-bottom: 15px;
}

.features-left > h1 {
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;
    color: #1D4F9F;
    margin-bottom: 30px;

}

.h1-orange {
    color: #F37425;
}

.features-left > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-right: 50px;
}

.features-left > p > strong {
    font-weight: 700;
}

.features-right {
    flex: 7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature-card {
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;

    padding: 24px;
}

.feature-top {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding-right: 10px;

    margin-bottom: 20px;
}

.feature-top h3 {
    margin: 0;

    color: #013F5C;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.feature-card p {
    margin: 0;

    color: #013F5C;
    font-size: 12px;
    line-height: 18px;
}

.feature-card p strong {
    font-weight: 700;
}

.features-grey-footer {
    display: flex;
    padding: 50px;
    margin: 50px 40px;
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.features-grey-footer-left {
    flex: 1;
    border-right: 1px solid #D7E3F3;
    display: flex;
    padding-right: 40px;

}

.features-grey-footer-right {
    flex: 1;
    padding-left: 40px;
    display: flex;
    gap: 24px;
}

.features-grey-footer-left-icon {
    margin-right: 30px;
}

.features-grey-footer-left-body > p {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
}

.features-grey-footer-left-body > p > strong {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

.features-grey-footer-right-tile {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.features-grey-footer-right-tile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.features-grey-footer-right-tile-header {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.features-grey-footer-right-tile-body {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.features-blue-footer {
    background: #013F5C;
    border-radius: 15px;
    display: flex;
    padding: 40px;
    margin: 0 40px;
}
.footer-blue-left {
    display: flex;
    gap: 0;
}

.footer-blue-left-icon {
    border-right: 1px solid #006C93;

    padding-right: 25px;
    margin-right: 25px;

    flex: 0 0 auto;
}

.footer-blue-left-text {
    flex: 18;
    display: flex;
    gap: 110px;
}

.footer-blue-left-text-body {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

}
.footer-blue-left-text-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.footer-blue-left-text-body > strong {
    font-weight: 700;
    color: #F37425;


}

.footer-blue-left-text > .logos {
    display: flex;
    gap: 60px;
    flex: 1;
    padding-right: 75px;

}

.nhs, .gp-practices, .pcn {
    flex: 1;
    color: #fff;
    text-align: center;
    align-content: center;
}

.gp-1, .pcn-1 {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.gp-2, .pcn-2, .comm-2 {
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
}

.community {
    flex: 1;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.comm-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}


/*Impact Card*/
.impact-main-section {
    padding: 40px;
    display: flex;
    gap: 25px;
}

.impact-main-left {
    flex: 2;
}

.impact-left-title {
    color: #F37425;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.impact-left-main {
    padding-right: 150px;
    margin-top: 15px;

    h1 {
        font-size: 44px;
        line-height: 52px;
        font-weight: 700;
    }

    h1 > span {
        color: #F37425;
    }

    p {
        margin-top: 30px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    p > strong {
        font-weight: 700;
    }

    img {
        margin-top: 50px;
    }

}



.impact-main-right {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.impact-card {
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;

    padding: 20px;
}

.impact-top {
    display: flex;
    align-items: flex-start;


    margin-bottom: 15px;
}

.impact-card > h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.impact-card > p {
    margin: 0;

    color: #013F5C;
    font-size: 12px;
    line-height: 18px;
}

.impact-card > p > strong {
    font-weight: 700;
}

.impact-footer {
    margin: 40px;
    background-color: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
    padding: 40px;
    display: flex;
}

.impact-footer-left {
    flex: 10;
    border-right: 1px solid #D7E3F3;
    display: flex;
    padding-right: 150px;

}

.impact-footer-left-body > h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 15px;

    span {
        color: #F37425;
    }
}
.impact-footer-left-body {
    margin-left: 40px;
    padding-right: 100px;

}

.impact-footer-left-body > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    strong {
        font-weight: 700;
    }
}

.impact-footer-right {
    flex: 9;
    padding-left: 40px;
    display: flex;
    gap: 50px;
}

.impact-footer-right-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        text-align: center;

    }

    h3 {
        font-size: 16px;
        line-height: 28px;
        font-weight: 700;
        margin-top: 10px;
        text-align: center;
    }
}


